:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/145% var(--sans);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  width: 960px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding: 24px 0;
  flex-grow: 1;
}
